{{ name }}
<p-table [value]="inbox">
  <ng-template pTemplate="header">
    <tr>
      <th>Vin</th>
      <th>Year</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car let-i="rowIndex">
    <tr>
      <td>{{ car?.vin }}</td>
      <td>{{ car?.year }}</td>
      <td>{{ car?.brand }}</td>
      <td>{{ car?.color }}</td>
      <td><i class="pi pi-check" #actionSign (click)="onClick(i)"></i></td>
    </tr>
  </ng-template>
</p-table>
